@import "tailwindcss";

.scrollbar-parent {
  scroll-behavior: smooth;
}

.scrollbar-parent::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-parent::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-parent::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9999px;
}

/* This is the key - we need to target the scrollbar thumb when the parent has a hover class */
.scrollbar-parent.is-hovered::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}