@import "tailwindcss";

.scrollbar-parent::-webkit-scrollbar {
  width: 6px;
}

.scrollbar-parent::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

.scrollbar-parent:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25); /* visible on hover */
}

.scrollbar-parent::-webkit-scrollbar-track {
  background: transparent;
}

/* Optional: Smooth scrolling */
.scrollbar-parent {
  scroll-behavior: smooth;
}